body{
    background: url("../images/pixar.jpg") no-repeat;
    background-size: 1160px 1060px;
}
.main{
    width:900px;
    height: auto;
    background: lemonchiffon;
    text-align: center;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px 20px 60px 20px;

}
h1{
    font-size: 3.0em;
    color: blue;
    padding-top: 40px;
    
}
.start{
    background: lightpink;
    border-color: blue;
    width: 300px;
    height: 75px;
    text-align: center;
    font-size: 2em;
    
}
.answer{
    display: inline-block;
    
}